@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* General Settings*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

button{
    border-radius: 8px;
    padding: 8px 24px;
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-weight: 700;
}

.title{
    font-weight: 700;
}

/* First Section*/

.first-section{
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    background-color: #1f2937;
    color: #f9faf8;
}

.header{
    display: flex;
    padding: 10px;
}

.header .title{
    flex: 1;
    font-size: 24px;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.title-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0;
    gap: 50px;
}

.title-card .content{
    flex: 1;
}

.title-card .text{
    margin: 8px 0;
}

.title-card .title{
    font-size: 48px;
}

.title-card .img{
    width: 500px;
    height: 200px;
    background-color: gray;
}

/* Second Section*/

.second-section{
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    margin-bottom: 60px;
}

.second-section .title{
    align-self: center;
    margin: 30px 0;
    font-size: 36px;
    color: #1f2937;
}

.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.item .img{
    border-radius: 10px;
    border: #3882f6 solid 4px;
    width: 200px;
    height: 200px;
}

/* Third Section*/

.third-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #e5e7eb;
    padding: 60px 15%;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-left: 10%;
}

.author{
    font-weight: 700;
}

/* Fourth Section*/

.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 15%;
    color: #f9faf8;
}

.action{
    display: flex;
    background-color: #3882f6;
    width: 100%;
    justify-content: space-around;
    border-radius: 10px;
    padding: 40px 60px;
}

.action button{
    border: #f9faf8 solid 2px;
    align-self: center;
}