@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* General Settings*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.third-section, .fourth-section{
    display: flex;
    padding: 0 150px;
}

button{
    border-radius: 8px;
    padding: 8px 24px;
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-weight: 700;
}

.title{
    font-weight: 700;
}

/* First Section*/

.first-section{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}

.header{
    display: flex;
    padding: 10px;
}

.header .title{
    flex: 1;
    font-size: 24px;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.title-card{
    display: flex;
    margin: 60px 0;
    gap: 30px;
}

.title-card .text{
    margin: 8px 0;
}

.title-card .title{
    font-size: 48px;
}

.title-card .img{
    flex-shrink: 0;
    width: 550px;
    height: 200px;
    background-color: gray;
}

/* Second Section*/

.second-section{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    margin-bottom: 60px;
}

.second-section .title{
    align-self: center;
    margin: 30px 0;
    font-size: 36px;
    color: #1f2937;
}

.items{
    display: flex;
    justify-content: center;
    gap: 48px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.item .img{
    border-radius: 10px;
    border: #3882f6 solid 4px;
    width: 150px;
    height: 150px;
}
